<h3>Create a Dog</h3>

<%= simple_form_for(@dog, wrapper: :horizontal_form) do |f| %>
  <%= f.input :name, placeholder: 'Name',  required: true%>
  <%= f.input :motto, placeholder: 'Motto', required: true %>
  <%= f.button :submit %>
<% end %>